.custom_buttom {
  width: 100%;
  border-radius: 40px;
  border: none;
  padding: 7px;
}

.conditionaly_back {
  background-color: #00b207;
  color: white;
}

.loginWrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/demofigmabg.png"); /* Use the correct path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2; /* Set the opacity to 20% */
  z-index: -1; /* Ensure the pseudo-element is behind the content */
}

/* Ensure content within the loginWrapper is positioned correctly */
.loginWrapper > * {
  position: relative;
  z-index: 1;
}
