.produtWrapper .inner {
  border: 1px solid rgba(76, 175, 80, 1);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.produtWrapper .inner h5 {
  color: rgba(115, 115, 115, 1);
  font-weight: 600;
  font-size: 24px;
}
